body{
    font-family: 'Poppins', sans-serif;
   
}
/* header */

.nav-bar{
    
        display: flex;
        justify-content: space-between;
        color: white;
        display: flex;
        align-items: center;
        list-style-type: none;
        background-color: #2D25A0;
        margin: 0;
         
    }

/* copa america 2021 watch live */
.watch-live{
    display: flex;
   width: 100%;
   height: 677px;
   background: #2D25A0;
    align-items: center;
    justify-content: center;
    color: white;
}
.watch-live .heading{
    margin-right: 100px;
    width: 485px;
    height: 230px;
}
.watch-live img{
    width: 556.01px;
height: 438px;
}
.watch-live h1{
    margin: 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
a{
    background: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    margin-top: 57px;
    color: white;
    display: inline-block;
}

/* players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1060px;
}
.player img{
    width: 300px;
    height: 256px;
    
}
.player{
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(175, 53, 53, 0.15);
   
}
/* all-highlight */
.all-highlight{
    display: flex;
    margin: 150px;
}
.highlight{
    padding: 30px;
}
.highlight-1 img{
    width: 567px;
    height: 427px;
    width: 100%;
}
/* Quarter-finals table */
.table-heading{
    text-align: center;
    font-size: 45px;
    margin: 20px;
}

table {
 
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    margin-bottom: 80px;

  }
  th{
      color: white;
      background-color: #2D25A0;
  }
  
  td, th {
    border: 1px solid #7ca7e0;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
/* news style */
.news-h1{
    font-size: 45px;
    text-align: center;
    margin: 20px;
}

.all-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 100%;
}
.news img{
    width: 300px;
    height: 150px;
    
}

.news{
   
    display: flex;
    margin: 15px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(175, 53, 53, 0.15);
   
}
/* footer */
.footer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer li{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 32px;
    width: 32px;
    background: #969BAB;
    margin: 0 7px;
    border-radius: 50%;
}
i{
    
    /* box-shadow: 0px 0px 40px rgba(175, 53, 53, 0.15); */
   
   
    
}
